
{% assign current-edition = site.data.editions.[page.edition] %}



<div class="banner section--fixed-bg" data-parallax-speed="0.2">



  <div class="row row--padding">
    <img src="{{site.baseurl}}/img/logo/se-logo.png" alt="Secret Escapes">
  </div>



  {% include header.html %}



  {% if page.edition %}
  <div class="row row--padding row--columns-8-4-gutters">
    <div class="row__column">
      <h1 class="page__title">{{ current-edition.subject-line }}</h1>
      <h5 class="edition_date">{{current-edition.date | date: '%B %Y' }}</h5>
    </div>

    <div class="row__column">
      <div class="article__current">
        <p><strong>
          {{current-edition.date | date: '%d.%m.%Y' }} {{ current-edition.subject-line | strip_html | truncate: 25 }}
        </strong></p>
        <a href="email">View email</a>
      </div>
      <div class="article__past">
        {% for edition-array in site.data.editions reversed %}
        {% assign edition = edition-array[1] %}
          <p>
            <a href="{{ site.baseurl }}{{ edition.link }}">
              {{ edition.date | date: '%d.%m.%Y' }} {{ edition.subject-line | strip_html | truncate: 25 }}
            </a>
          </p>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}



</div>

{% if page.edition %}
<div class="section section--title-banner">
  <div class="row row--padding align-center">
    <h3 class="h2">In this issue...</h3>
    <p class="page__description">{{ current-edition.description }}</p>
  </div>
</div>
{% endif %}
