// landing page specific


// -------- introduction on landing page --------

.introduction {
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
  border-bottom: 1px solid #d8e1e2;
  background-color: $white;
  margin-bottom: ($margin * 2);
  &__title {
    padding-bottom: 0.2em;
    font-weight: 200;
    text-transform: capitalize;
    letter-spacing: .033em;
    border-bottom: 1px solid #d8e1e2;
  }
  &__date {
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 0;
  }
  &__description {
    margin-top: 1.5em;
    text-align: justify;
    color: $dml-gray;
  }
}


// -------- offer blocks --------

.offer {
  position: relative;
  list-style-type: none !important;
  background-color: $white;
  color: $dml-blue-darkest;
  margin-bottom: $margin;
  @include transition;
  @include clearfix;
  &__link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-content-upper;
    display: block;
    // IE fix - stops text from appearing above link
      background-color: #fff;
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
  &__btn {
    position: absolute;
    top: 0; right: 0;
    color: #fff;
    width: 40px;
    height: 40px;
    overflow: hidden;
    @include transition;
    &-target {
      position: absolute;
      top: 0; right: 0;
      display: block;
      padding: 10px;
      width: 40px; height: 100%;
      background-color: $dml-blue-dark;
    }
    &-copy {
      position: absolute;
      top: 0; right: 40px;
      padding: 10px;
      font-size: 0.86em; font-weight: 600; text-transform: uppercase; letter-spacing: 0.05em;
      height: 100%; width: 100px;
      background-color: $dml-blue-darkest;
    }
  }
  &:hover &__btn {
    width: 100%;
  }

  &__image {
    display: block;
    position: relative;
    img { float: left; }
  }
  &__title {
    font-size: 1.2em;
    line-height: 1.25;
    font-family: $main-font-family;
    font-weight: 500;
    margin-bottom: 0.5em;
  }
  &__content {
    padding: 1em 1.5em;
    float: left;
  }
  &__description {
    color: $dml-gray;
  }
  &__thumbnail {
    display: inline-block;
    max-width: $small;
  }
  &__terms-and-conditions {
    font-size: .8em;
    color: $dml-gray;
  }
}