// all custom styles for the site

body {
  background-color: $dml-blue-light;
}

.page {
  &__title {
    font-size: 3.375em;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: .075em;
    padding-bottom: 0.25em;
    margin-bottom: .2em;
    border-bottom: 1px solid $dml-gray-light;
  }
  &__sub-title {
    font-size: 1.728em;
    font-weight: 100;
    letter-spacing: .05em;
    margin-bottom: 1em;
  }
}

hr {
  border: 0;
  background-color: $dml-gray-light;
  height: 1px;
}

.edition {
  max-width: $large;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none !important;
  @include box-shadow;
  & + & {
    margin-top: 1em;
  }
  &__link {
    display: block;
    padding: 1em 2em;
    background-color: $white;
    @include transition;
    &:hover {
      padding-top: 1.2em;
      padding-bottom: 1.2em;
      color: $white;
      background-color: $dml-blue;
      text-decoration: none;
    }
  }
}

// ---------- button ----------

.btn {
  @include transition;
  display:inline-block;
  padding: .5em 1.5em;
  border: 1px solid $dml-blue;
  color: $dml-blue;
  font-weight: 500;
  border-radius: 10em;
  text-transform: uppercase;
  letter-spacing: .15em;
  &:hover {
    color: white;
    background-color: $dml-blue;
    text-decoration: none;
  }
  &--small {
    font-size: .8em;
  }
  &--large {
    font-size: 1.2em;
  }
  &--white {
    color: $white;
    border-color: $white;
    &:hover {
      color: $dml-blue;
      background-color: $white;
    }
  }
  &--white-transparent {
    color: $white;
    border-color: $white;
    background-color: $white-25;
    &:hover {
      color: $dml-blue;
      background-color: $white;
    }
  }
  &--blue {
    color: $white;
    background-color: $dml-blue;
    &:hover {
      border-color: $dml-blue-dark;
      background-color: $dml-blue-dark;
    }
  }
  * + & { margin-top: 1em; }
}