// all custom styles for the site

body {
  background-color: $dml-blue-light;
}




hr {
  border: 0;
  background-color: $dml-gray-light;
  height: 1px;
}

.edition {
  max-width: $large;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none !important;
  @include box-shadow;
  & + & {
    margin-top: 0;
    border-top: 1px solid $dml-blue-light;
  }
  &__link {
    display: block;
    padding: 1em 2em 1.4em;
    background-color: $white;
    overflow: hidden;
    @include transition;
    &:hover {
      padding-top: 1.2em;
      padding-bottom: 1.6em;
      color: $white;
      background-color: $dml-blue;
      text-decoration: none;
    }
    h3 { margin-bottom: 0; }
  }
}

// ---------- button ----------

.btn {
  @include transition;
  display:inline-block;
  padding: .5em 1.5em;
  border: 1px solid $dml-blue;
  color: $dml-blue;
  font-weight: 500;
  border-radius: 10em;
  text-transform: uppercase;
  letter-spacing: .15em;
  &:hover {
    color: white;
    background-color: $dml-blue;
    text-decoration: none;
  }
  &--small {
    font-size: .8em;
  }
  &--large {
    font-size: 1.2em;
  }
  &--white {
    color: $white;
    border-color: $white;
    &:hover {
      color: $dml-blue;
      background-color: $white;
    }
  }
  &--white-transparent {
    color: $white;
    border-color: $white;
    background-color: $white-25;
    &:hover {
      color: $dml-blue;
      background-color: $white;
    }
  }
  &--blue {
    color: $white;
    background-color: $dml-blue;
    &:hover {
      border-color: $dml-blue-dark;
      background-color: $dml-blue-dark;
    }
  }
  * + & { margin-top: 1em; }
}

// -------- banner --------

.section--fixed-bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  &.banner {
    padding-top: 3em; padding-bottom: 3em;
    color: $white;
    background-image: url('../img/content/banner-default.jpg');
    background-position: top center;

    /*
    background: $dml-blue-dark;
    background: -moz-linear-gradient(-165deg, $dml-blue 0%, $se-orange 100%);
    background: -webkit-linear-gradient(-165deg, $dml-blue 0%, $se-orange 100%);
    background: linear-gradient(-165deg, $dml-blue 0%, $se-orange 100%);
    */

    .page__title {
      font-size: 3.6em;
      line-height: 1.1;
      font-weight: 200;
      text-transform: uppercase;
      letter-spacing: .075em;
      margin-bottom: .1em;
    }
    .page__sub-title {
      margin-bottom: 0.5em;
    }
    .page__description {
      margin-bottom: 0.5em;
      text-align: justify;
    }

    .article__current {
      padding: 10px 15px;
      background-color: $white;
      color: $dml-blue-darkest;
      display: block;
      margin-bottom: 5px; }
    .article__past {
      padding: 10px 15px;
      background-color: rgba(255,255,255,0.1); }

  }
}



.section--title-banner {
  background-color: $white;
  color: $dml-gray;
  padding: 2em 0;
  text-align: center;
  border-bottom: 1px solid #d8e1e2;
  h3 { margin-bottom: 0.5em; color: $dml-blue-darkest; }
}
