
{% for item in offers %}
  <div class="row__column offer offer-{{ item.id }} box-shadow">
    <a href="{{item.link}}" class="offer__image">

      <div class="offer__btn">
        <span class="offer__btn-target"><img src="{{ site.baseurl }}/img/content/offer_btn.png"></span>
        <span class="offer__btn-copy">Read more</span>
      </div>

      <img width="100%" src="{{ site.baseurl }}/img/edition/{{ page.edition }}/email/offer-{{ item.id }}.jpg">

    </a>
    <div class="row offer__content">
      <a href="{{item.link}}">
        <h4 class="offer__title ">{{ item.title }}</h4>
      </a>
      <p class="offer__description">
        {{item.short-copy | strip_html | truncate: 90}}
      </p>
    </div>
  </div>
{% endfor %}
