
{% for item in offers %}
  <div class="row__column offer offer-{{ item.id }} box-shadow is-closed">
    <div class="offer__image">
      <img width="100%" src="{{ site.baseurl }}/img/edition/{{ page.edition }}/email/offer-{{ item.id }}.jpg">
    </div>
    <div class="row offer__pre-expand">
      <div class="row offer__pre-expand-content">
        <h4 class="offer__title ">{{ item.title }}</h4>
        <p class="offer__description">
          {{item.short-copy | strip_html | truncate: 80}}
        </p>
      </div>
    </div>
  </div>
{% endfor %}
