<div class="js-modal modal is-closed">

  <div class="js-modal__close modal__close"></div>

  {% for offer in offers %}
    <div class="modal__content modal__content--{{offer.id}} is-closed row row--padding">
      <div class="bg-image-ratio bg-image-ratio--16-9" style="background-image: url('{{site.baseurl}}/img/edition/{{page.edition}}/offer-{{offer.id}}.jpg');"></div>
      <div class="modal__content-wrap">
        <div class="row row--columns-8-4 row--columns-vertical-align">
          <div class="row__column">
            <div class="modal__title">
              {{offer.title}}
            </div>
          </div>
          <div class="row__column modal__top-cta">
            {% if current-edition.active-offers %}
              {% include landing-page/btn.html class-modifier="top" %}
            {% else %}
              {% include landing-page/btn-disabled.html %}
            {% endif %}
          </div>
        </div>
        {% if current-edition.active-offers %}
          <div class="js-countdown countdown row"></div>
        {% endif %}
        <div class="row modal__description">
          <div class="row">
            {{ offer.long-copy }}
          </div>
        </div>
        {% if current-edition.active-offers %}
        <div class="row align-center">
          {% include landing-page/btn.html class-modifier="bottom" size="large" %}
          <div class="js-countdown countdown row"></div>
        </div>
        {% else %}
          <hr class="row">
        {% endif %}
        <div class="row modal__terms">
          <h4>Terms &amp; Conditions</h4>
          {{offer.terms-and-conditions}}
        </div>
      </div>
    </div>
  {% endfor %}

</div>