<div class="js-modal modal is-closed">

  <div class="js-modal__close modal__close"></div>

  {% for offer in offers %}
    <div class="modal__content modal__content--{{offer.id}} is-closed">
      <div class="row row--padding">
        <div class="bg-image-ratio bg-image-ratio--16-9" style="background-image: url('{{site.baseurl}}/img/edition/{{page.edition}}/offer-{{offer.id}}.jpg');"></div>
        <div class="modal__content-wrap">
          <div class="row row--columns-8-4 row--columns-vertical-align">
            <div class="row__column">
              <div class="modal__title">
                {{offer.title}}
              </div>
            </div>
            <div class="row__column modal__top-cta">
              <a id="landing-cta-top-{{offer.id}}" href="{{offer.link}}" class="btn btn--blue">
                {% if offer.custom-cta %}
                  {{ offer.custom-cta }}
                {% else %}
                  Claim Offer
                {% endif %}
              </a>
            </div>
          </div>
          <div class="row modal__description">
            {{offer.long-copy}}
          </div>
          <div class="row align-center">
            <a id="landing-cta-bottom-{{offer.id}}" href="{{offer.link}}" class="btn btn--blue btn--large">
              {% if offer.custom-cta %}
                {{ offer.custom-cta }}
              {% else %}
                Claim Offer
              {% endif %}
            </a>
          </div>
          <hr class="row">
          <div class="row modal__terms">
            <h4>Terms &amp; Conditions</h4>
            {{offer.terms-and-conditions}}
          </div>
        </div>
      </div>
    </div>
  {% endfor %}

</div>