{% assign edition = page.edition %}
{% assign offers = site.data.editions.[page.edition].offers %}
{% assign edition-link = site.data.editions.[page.edition].link %}

{% for item in offers %}
  {% if item.id == include.offer-id %}

<!-- FULL WIDTH OFFER -->
  <table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
      <td bgcolor="#e9f1f2" align="center" style="padding-top: 44px;">
        <table border="0" cellpadding="0" cellspacing="0" width="600"class="responsive-table">
          <tr>
            <td>

              <!-- FIRST COLUMN -->
              <table class="responsive-table" align="center" border="0" cellspacing="0" cellpadding="0" width="600" style="border: 1px solid #a1d0d6;">
                <!-- OFFER IMAGE -->
                <tr>
                  <td>
                    <a href="{% if item.email-link %} {{ item.email-link }} {% else %} {{ site.url }}{{ site.baseurl }}{{ edition-link }}/?offer-id={{ item.id }} {% endif %}"><img class="img-max" width="600" src="{{ site.baseurl }}/img/edition/{{ edition }}/email/offer-{{ item.id }}.jpg" alt="{{ item.title }}" style="display: block;" /></a>
                  </td>
                </tr>
                <!-- OFFER CONTENT WRAP -->
                <tr>
                  <td bgcolor="#ffffff" style="padding: 22px;">
                    <table border="0" cellpadding="0" cellspacing="0" width="556" class="responsive-table">
                      <!-- OFFER TITLE -->
                      <tr>
                        <td align="center" style="color: #384f51; font-family: Helvetica, Arial, sans-serif, 'Lato'; font-size: 18px; line-height: 22px; letter-spacing: .025em; padding-bottom: 18px;">
                          {{ item.title }}
                        </td>
                      </tr>
                      <!-- OFFER COPY -->
                      <tr>
                        <td style="color: #788586; font-family: Helvetica, Arial, sans-serif, 'Lato'; font-size: 13px; line-height: 18px; letter-spacing: .025em; padding-bottom: 18px;">
                          {{ item.short-copy }}
                        </td>
                      </tr>
                      <!-- OFFER BUTTON -->
                      <tr>
                        <td align="center" style="width: 100%;">
                          <a href="{% if item.email-link %} {{ item.email-link }} {% else %} {{ site.url }}{{ site.baseurl }}{{ edition-link }}/?offer-id={{ item.id }} {% endif %}" style="color: #ffffff; font-family: Helvetica, Arial, sans-serif, 'Open Sans'; font-size: 11px; line-height: 12px; letter-spacing: .2em; font-weight: 700; background-color: #3bc3cf; border-top: 12px solid #3bc3cf; border-bottom: 12px solid #3bc3cf; border-left: 53px solid #3bc3cf; border-right: 53px solid #3bc3cf; border-radius: 100px; -webkit-border-radius: 100px; -moz-border-radius: 100px; display: inline-block; text-transform: uppercase; text-decoration: none;">
                            {% if item.custom-cta %}
                              {{ item.custom-cta }}
                            {% else %}
                              View Offer
                            {% endif %}
                          </a>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
              <!-- END - FIRST COLUMN -->

            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

  {% endif %}
{% endfor %}