<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td bgcolor="#e9f1f2" align="center" style="padding-bottom: 53px44px;">
      <table border="0" cellpadding="0" cellspacing="0" width="600"class="responsive-table">
        <tr>
          <td>
            <!-- CONTENT TABLE -->
            <table class="responsive-table" align="center" border="0" cellspacing="0" cellpadding="0" width="600" style="box-shadow: 0px 4px 10px 0px rgba(6,47,52,.075);">
              <!-- OFFER CONTENT WRAP -->
              <tr>
                <td bgcolor="#282823" style="padding: 66px 44px; background-image: url({{site.baseurl}}/img/email/bg-current-sales.jpg); background-repeat :no-repeat; background-position: center; background-size: cover; ">
                  <table border="0" cellpadding="0" cellspacing="0" width="512" class="responsive-table">
                    <!-- OFFER TITLE -->
                    <tr>
                      <td align="center" style="color: #ffffff; font-family: Helvetica, Arial, sans-serif, 'Open Sans'; font-size: 33px; line-height: 37px; padding-bottom: 22px; font-weight: 300;">
                        Save up to 70% on <br class="desktop-break" />luxury hotels and holidays
                      </td>
                    </tr>
                    <!-- OFFER BUTTON -->
                    <tr>
                      <td align="center" style="width: 100%;">
                        <a href="http://www.secretescapes.com/current-sales?email=%%EMAIL%%&code=%%REFERENCE%%&utm_source=secretescapes&utm_medium=email&utm_campaign=%%=v(@campaign)=%%%%=v(@GA)=%%" style="color: #ffffff; font-family: Helvetica, Arial, sans-serif, 'Open Sans'; font-size: 13px; line-height: 13px; letter-spacing: .2em; font-weight: 600; background-color: #ff8c00; border-top: 12px solid #ff8c00; border-bottom: 12px solid #ff8c00; border-left: 53px solid #ff8c00; border-right: 53px solid #ff8c00; border-radius: 100px; -webkit-border-radius: 100px; -moz-border-radius: 100px; display: inline-block; text-transform: uppercase; text-decoration: none;">
                          See Current Sales
                        </a>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <!-- END - CONTENT TABLE -->

          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
