---
layout: default
class: landing-page
---

{% assign current-edition = site.data.editions.[page.edition] %}
{% assign offers = current-edition.offers %}
{% assign latest-edition = site.data.editions | where: "active-offers", "true" %}

{% include landing-page/introduction.html %}

{% if current-edition.active-offers == null %}
  <div class="expired-message row row--padding row--columns-8-4-gutters row--columns-vertical-align">
    <div class="row__column">
      <h3 class="expired-message__title">Offers expired</h3>
      <p>Sorry, but all of these offers are no longer running. See our latest edition for the current offers </p>
    </div>
    <div class="row__column expired-message__btn-wrap">
      <a class="btn btn--white btn-small" href="{{site.baseurl}}{{latest-edition[0].link}}">See current offers</a>
    </div>
  </div>
{% endif %}

<div class="section row row--padding">
  <div class="row  row--columns-4-4-4-gutters">
    {% include landing-page/offer.html %}
  </div>
</div>

{% if current-edition.active-offers == null %}
  <div class="section row--padding align-center">
    <a class="btn btn--blue" href="{{site.baseurl}}{{latest-edition[0].link}}">See Current Offers</a>
  </div>
{% endif %}

{% include landing-page/offer-modal-content.html %}

<script>
  // split date
  var year = '{{current-edition.date | date: "%Y" }}',
      month = '{{current-edition.date | date: "%m" }}',
      day = '{{current-edition.date | date: "%d" }}';

  // generates expiry date by increasing month with zero padding
  month++;
  if (month >= 13) {
    month = '01';
  } else if (month < 10) {
    month = '0' + month;
  }

  // generated expiry date
  var ExpiryDate = year + '/' + month + '/' + day;
</script>